numpy~=1.26.4
pandas>=2.2.2
torch>=2.2.1pi
scikit-image~=0.24.0
torchvision~=0.18.1
natsort~=8.4.0
setuptools~=68.2.0
pandas~=2.2.2
h5py~=3.11.0
pillow~=10.4.0
matplotlib~=3.9.1
sphinx~=8.0.2
sphinx_book_theme~=1.1.3